body
{
    background-color:#f0fd34;
    font-family: Arial;
    height: auto;
     width: 300px;
      margin: 100px auto;
    padding: 20px;
    height: 300px;
border-radius: 10px;
    border: 20px solid #1a0909;
    text-align: center;
    box-shadow: 0px 0px 10px;
}
button{
    padding: 8px 15px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: blue;
}
img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}
